@import "Variable";

footer {
  position: fixed;
  bottom: 0;
  background-color: @background-color;
  color: @text-color;
  width: 100%;
}

.basic {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  padding: 0 30px;
}

.above {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: @text-color;

  &:hover {
    text-decoration: underline;
  }
}

.left li{
  float: left;
  margin-right: 25px;
}

.right li{
  float: right;
  margin-left: 25px;
}