@import "Variable";

@search-color: #dfe1e5;
@input-width: 550px;
@input-height: 44px;
@input-margin: 25px;

.search {
  text-align: center;
  margin-top: 200px;

  header {
    img {
      height: 92px;
      width: 272px;
    }
  }

  input {
    width: @input-width;
    display: flex;
    border: 1px solid @search-color;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: @input-height;
    margin: @input-margin auto;
    padding: 0 40px;
    outline: none;
  }

  .icon {
    height: 20px;
    width: 20px;
    position: relative;
    top: -(@input-height + @input-margin/2);
  }

  .searchIcon {
    right: @input-width/2;
    color: #9AA0A6;
  }

  .voiceIcon {
    left: @input-width/2;
    color: blue;
  }

  button {
    background-color: @background-color;
    height: 36px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: @text-color;
    padding: 0 15px;
    outline: none;

    &:hover {
      cursor: pointer;
      border: 1px solid @text-color;
    }
  }

  .center {
    margin-top: -20px;
  }

  .offered {
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }
}